
div {
    background-color: darkturquoise;
    border-radius: 3em;
}

h1 {
    text-align: center;
    font-family: cursive;
}

p {
    font-size: 50px;
    color: blue;
    text-align: center;
}