table {
    width: 100%;
    padding: 5%;
}

thead {
    height: 150px;
}



th {
    background-color: slategray;
    text-align: right;
    font-size: 80px;
    color: white;
}

tr {
    background-color: deepskyblue;
    height: 80px;
    font-weight: bold;
}

td {
text-align: center;
margin-top: 0%;

}

.color {
    background-color: coral;
}

button {
    background-color: transparent;
    border: transparent;
    font-size: 60px;
    font-family: cursive;
    width: 100%;
    padding-top: 0px;
}

button:active {
    background-color: transparent;
    transform: translateY(4px);
  }


 








@media only screen and (min-width: 200px) {

    body {
        background-color: deeppink;
    }

    table {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media only screen and (min-width: 600px) {

    body {
        background-color: indigo;
    }

    table {
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}



@media only screen and (min-width: 800px) {

    body {
        background-color: darkgreen;
    }

    table {
        width: 100%;
        font-family: cursive;
    }
}



@media only screen and (min-width: 1000px) {

    body {
        background-color: chocolate;
    }

    table {
        width: 100%;
        font-family: sans-serif;
        font-size: 90px;
    }
}
